header {
	background: #BC1717;
	padding: 10px;
    font-family: 'Cambria';
    color: white;
}

#fondo {
	background-color: #557DCF;
}

.marco {
	border-radius: 10px;
	width: 600px;
	border: 7px solid #BC1717;
    margin: auto;
    padding: 10px;
    background-color: #C7CBD3;
    font-family: 'Times';
    font-size: large;
}

.boton {
    text-decoration: none;
	padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 300;
    font-size: 25px;
    color: white;
    background-color: #BC1717;
    border-radius: 15px;
    border: 3px solid #BC1717;
}

footer {
    background: #BC1717;
	padding: 10px;
    color: white;
    font-family: 'Cambria';
}